{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="all-title bg-success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-lg-12 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Billing address</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-danger">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>




    <!-- End Cart -->
{% endblock %}